body {
  background-color: #fff;
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', cursive;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #00cccc;
}

a:visited {
  color: #00cccc;
}

a:hover {
  color: #00cccc;
  text-decoration: underline;
}

button.menu-toggle {
  border: none;
  background: none;
  box-shadow: none;
  margin-right: 0px;
}

button.menu-toggle:hover {
  box-shadow: none;
}

p {
  margin: 20px;
}

.site-branding img {
  padding:30px;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar {
  font-size: 28px;
}

.navbar a {
  color: #000;
}

.navbar a:visited {
  color: #000;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-side-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.header-container {
  background-color: #00cccc;
}

.site-description {
  margin-bottom: 25px;
}
.social-links {
  margin-bottom: 20px;
  font-size: 24px;
}

.event-archive-container {
    text-align: center;
    margin-bottom: 20px;
}

.event-archive-container:last-child {
    margin-bottom: 0px;
}

.more-info span{
  font-size: 1.4em;
  line-height: 1.4em;
}

.instaframe-container {
  margin-bottom: 20px;
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.site-footer {
    background-color: #00cccc;
    padding: 20px;
    font-size: 1.1em;
}

.fa-ellipses {
  font-size: 0.5rem !important;
  line-height: 1em !important;
  padding: 5px;
  top: -4px;
  position: relative;
}

.section {
  padding-bottom: 15px;
  max-width: 900px;
}



.section h2 {
  padding: 15px;
  margin-bottom: 20px;
}

.section h3 {
  padding: 0px 15px 15px;
}
.section h2 a, .section h2 a:visited {
  color: #333;
}

.section:last-child {
  /*background-color: #00cccc;*/
}

#main {
  margin-bottom: 20px;
}

#main .row.no-side-margin h3{
  margin-top:20px;
  margin-bottom: 20px;
}

#main .row.no-side-margin:first-child h3{
  margin-top:0px;
}

.read-more-text {
    margin-top: 20px;
}

.metaslider-container {
  max-width: 900px;
  overflow: hidden;
}

.site-info {
  margin-top: 20px;
  font-size: 1.2em;
}

i.fa {
  padding-right: 10px;
  padding-left: 2px;
}

.social-footer span {
    padding: 0px 10px;
    padding-right: 8px;
    background: url(../dot-blue.png) no-repeat left;
    background-size: 10px;
    padding-left: 20px;
}

.social-container div:before {
  background: url(../dot-blue.png) no-repeat left;
  background-size: 10px;
  padding-left: 14px;
  padding-bottom: 0px;
  content: "";
}

.social-container div:after {
  background: url(../dot-blue.png) no-repeat right;
  background-size: 10px;
  padding-right: 14px;
  padding-bottom: 0px;
  content: "";
}

.social-footer a {
  color: #fff;
  font-size: 1.1em;
}

.social-footer a:hover {
  color: #fff;
  text-decoration: underline;
}

.social-footer a:visited {
  color: #fff;
}

.event-section h3{
  margin-top: 0px !important;
  padding: 0px;
}

.upcoming-events {
  padding-top: 15px;
}

.some-thing {}

.upcoming-events h4:last-child {
  margin-bottom: 0px;
}

.upcoming-events .event-archive-container img {
  margin-bottom: 20px;
}

@media screen and (max-width: 768px)
{

  header {
    margin-bottom: 100px;
  }

  #site-navigation {
    position: absolute;
    z-index: 8;
    max-width: 350px;
  }

  .nav-row div {
    padding: 0px;
  }

  .navbar.toggled #primary-menu {
    width: 200px;
    margin: 0px;
    background-color: #fff;
    border: 1px solid #efefef;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .navbar.toggled #primary-menu a {
    padding: 20px;
    width: 195px;
    /*padding-bottom: 10px; */
  }

  .main-navigation li:last-child:after {
    background: none;
    padding-right: 0px;
  }

  .navbar.toggled #primary-menu li, .navbar.toggled #primary-menu li:last-child:after {
    background: none;
    padding-left: 0px;
  }
  .navbar.toggled #primary-menu li a{
    display: block;
  }
  .navbar.toggled #primary-menu li a:hover{
    background-color: #fff;
    text-decoration: underline;
  }

  .navbar.toggled #primary-menu li a:before {
    background: url(../dot.png) no-repeat left;
    background-size: 20px;
    padding-left: 30px;
    content: "";
  }


}

@media screen and (min-width: 768px) {

  p {
    margin:0 0 10px;
  }

	.event-archive-container {
    text-align: left;
  }
}
